include ../mixins/mixins

.project-content#project-content-intro
  h1 #{project.title}
  p This visualization explores the political strategy of gerrymandering, how we can measure it, and what role it played in the 2012 US federal congressional elections.
.project-image
  +vimeo(282721267)
.project-content
  p
    a.see-link.underline(href="https://ryanabest.com/dvia-2017/5.final-project/ryan/final/") See the project →
  p 
    | Gerrymandering is an ingrained facet of one of the most fundamental aspects of American democracy - how we draw the districts that elect our representatives.
    | It's a political strategy that's often <a class='underline' href="https://www.vox.com/2016/1/12/10758738/obama-state-of-the-union-2016-gerrymandering">blamed</a> for creating uncompetitive elections or stoking political divisiveness and has received quite a bit of <a class='underline' href="https://projects.fivethirtyeight.com/redistricting-maps/">attention</a> from <a class='underline' href="https://www.washingtonpost.com/graphics/2017/politics/courts-law/gerrymander/?utm_term=.d08b867bee00">national</a> <a class='underline' href="https://www.nytimes.com/interactive/2017/10/03/upshot/how-the-new-math-of-gerrymandering-works-supreme-court.html">publications</a>.
  p 
    | This visualization dives into how gerrymandering works, what methods we can use quantifiably measure this phenomenon, and what these metrics can tell us about its effect in American elections.
    | This analysis specifically focuses on the 2012 Federal Congressional elections, measuring <a class='underline' href="https://www.brennancenter.org/sites/default/files/legal-work/How_the_Efficiency_Gap_Standard_Works.pdf">the efficiency gap</a> and <a class='underline' href="http://bl.ocks.org/cingraham/7551527">difference from proportional representation</a> to find evidence of gerrymandering's political influence stemming from significant redistricting that followed the 2010 census.

//- PROCESS -//
.project-content
  h1 Process
  img(src=require('../images/parsons/mind-the-gap/process/process.gif'))
  p
    strong Data Source: 
    | FEC 2012 Senate and House <a class='underline' href="https://transition.fec.gov/pubrec/fe2012/federalelections2012.shtml">Results</a>
  p
    strong Tools: 
    | Adobe Illustrator / CSS / Flexbox / HTML / JavaScript / jQuery / Node / p5
  p
    a.see-link.underline(href="https://github.com/ryanabest/ms1-2018/tree/master/quant") See the code →

//- DATA -//
.project-content
  h1 Data
  p
    | The data I used in this project comes from a 2012 federal congressional election results excel file available on the <a class='underline' href="https://transition.fec.gov/pubrec/fe2012/federalelections2012.shtml">FEC website</a>.
    | I first needed to do some clean-up in excel to standardize undeeded inconsistencies and reduce this data to only those candidates who won their district's primaries in the year's house elections.
  p 
    | I then used node.js to further process this data, leveraging the power of js libraries including <a class='underline' href="https://p5js.org/">p5</a>, <a class='underline' href="https://jquery.com/">jQuery</a>, and <a class='underline' href="https://lodash.com/">Lodash</a>.
    | I needed to organize district results, tracking the votes and percentage of votes cast for each candidate compared with the amount of votes needed to win that district, and calculate state-wide results of my two main metrics for each party:
    | <a class='underline' href="https://www.brennancenter.org/sites/default/files/legal-work/How_the_Efficiency_Gap_Standard_Works.pdf">the efficiency gap</a> and the difference between seats earned and seats expected in a system with pure proportionality.
    | This data processing generated two clean json files, one for district results and one for state, that I fed into my front-end visualization.

//- VISUALIZATION -//
.project-content
  h1 Visualization
.project-image
  img(src=require(`../images/${utils.slugify(project.eyebrow)}/${project.id}/visualization/visualization1.png`))
.project-content
  p A straightforward state-level bar chart, created using jQuery and Flexbox, clearly communicates our primary metric, the efficiency gap, using a familiar visual language that allows us to quickly draw insight from the data. Using red and blue to distinguish our political parties requires little to no cognitive lift, while ranked ordering of states allows us to quickly see which states enjoyed disporoportionate advantages by each party. The reference lines show us cut-offs suggested by researchers, allowing us to quickly see which states cross thresholds of reasonability.
.project-image
  +vimeo(271936063)
.project-content
  p
    | Our prominent menu at the top of this visualization lets us know which metric we're viewing and allows us to switch between metrics.
    | We use <a class='underline' href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Ordering_Flex_Items">flexbox</a> and <a class='underline' href="https://www.w3schools.com/css/css3_transitions.asp">CSS transitions</a> to maintain <a class='underline' href="https://bost.ocks.org/mike/constancy/">object constancy</a> when our metric is switched, making it easier for us to get a general sense of how the two metrics are correlated or to follow one specific state's change in ranking from one metric to another.
.project-image
  img(src=require(`../images/${utils.slugify(project.eyebrow)}/${project.id}/visualization/visualization2.png`))
.project-content
  p Hovering over a state displays secondary-level detail - straight-forward, familiar statistics that underpin our key metric calculations. These metrics, and the benefitting party, are also highlighted in that party's color, providing visual consistency and context for those who may be unfamiliar with this coloring system. This functionality also lets us know how we can advance to our next visualization - a click brings us to the view that examines each district within a state.
.project-image
  img(src=require(`../images/${utils.slugify(project.eyebrow)}/${project.id}/visualization/visualization3.png`))
.project-content
  p Our district-level visualization breaks up votes into blocks of 5,000 votes, stacks these blocks into one bar for each district, and arranges these blocks based on total party votes in that district. These design choices allow us to quickly get a general sense of which party won more districts (by comparing the left-most color in each bar), by what margin (what proportion of blocks were cast for this party), and even get a general sense of voter turnout across districts (since each district is drawn to include approximately population size).
  p We can also use this view to help visually explain the methodology for calculating the efficiency gap. The emphasized 'darker' blocks are all 'wasted' votes per the efficiency gap definition - arranging the visualization this way matches the visual language of our introductory explanations and allows us to get a sense of the proportion of votes cast that were 'wasted' for each party.
.project-image
  img(src=require(`../images/${utils.slugify(project.eyebrow)}/${project.id}/visualization/visualization4.png`))
.project-content
  p Our introduction and background sections help explain how gerrymandering works in a visual context, establishing a visual language of party colors, blocks of votes, and stacking these votes into district-level bar charts.
.project-image
  img(src=require(`../images/${utils.slugify(project.eyebrow)}/${project.id}/visualization/visualization5.png`))
.project-content
  p These introductory visuals also help explain how our main metrics are calculated - for the efficiency gap, what constitutes a wasted vote and how we visually distinguish these votes by lightening their opacity. When this visual language is maintained in our district-level visualization, we're able to more easily connect this theory and background with the results of the 2012 elections to understand the data behind our calculations.

+next_project(projects.find(d => d.id === 'met-history'))